@html.extend('layout', function(model) { @html.block('content', function(model) {
<nav class="navbar navbar-inverse navbar-collapse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
			<span class="navbar-brand">@model.title</span>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav" id="navbar">
				<li class="active"><a href="#" title="状态"><i class="fa fa-area-chart fa-lg"></i></a></li>
				<li><a href="/admin/users" title="用户"><i class="fa fa-users fa-lg"></i></a></li>
				<li><a href="/admin/settings" title="设置"><i class="fa fa-gear fa-lg"></i></a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="btn-group switch-buttons col-sm-3" role="group">
			<button type="button" class="btn btn-default btn-sm active" data-toggle="button" data-type="hours">最近 24 小时</button>
			<button type="button" class="btn btn-default btn-sm" data-toggle="button" data-type="days">最近 7 天</button>
			<button type="button" class="btn btn-default btn-sm" data-toggle="button" data-type="months">最近 12 个月</button>
		</div>
	</div>
	<div class="row">
		<div id="chart" data-url="/admin/chart" data-port="@model.port" data-type="hours" style="min-width: 320px; min-height: 450px;"></div>
	</div>
</div>
@html.include('footer') }) @html.block('scripts', function(model) {
<link rel="stylesheet" href="/css/highcharts.css">
<script src="/js/highCharts.js"></script>
<script>
	$(document).ready(function () {
		Highcharts.setOptions({
			lang: {
				months: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
				weekdays: ['周一', '周二', '周三', '周四', '周五', '周六', '周天'],
				numericSymbolMagnitude: 10000,
				numericSymbols: ['万', '亿']
			}
		});

		var hc = Highcharts.chart('chart', {
			chart: { type: 'column', inverted: true },
			title: { text: '流量走势' },
			yAxis: { title: { text: '流量 (MB)' } },
			tooltip: { valueSuffix: ' MB' },
			credits: { enabled: false },
			series: [{ name: '流量', showInLegend: false }]
		});

		var $chart = $('#chart');

		var switchChart = function (type) {
			$chart.data('type', type);

			$.ajax({
				url: $chart.data('url'),
				data: {
					'port': $chart.data('port'),
					'type': $chart.data('type')
				},
				method: 'GET',
				cache: false
			}).done(function (data, status, xhr) {
				if (data && data.rows) {
					var subTitle;
					var categories = [];
					var seriesData = [];
					var categoryFormatter;

					switch (data.type) {
						case 'months':
							subTitle = '最近 12 个月';
							categoryFormatter = function (dataString) {
								return dataString.substr(2, 7).replace('-', '年').concat('月');
							};
							break;
						case 'days':
							subTitle = '最近 7 天';
							categoryFormatter = function (dataString) {
								return dataString.substr(5, 5).replace('-', '月').concat('日');
							};
							break;
						case 'hours':
						default:
							subTitle = '最近 24 小时';
							categoryFormatter = function (dataString) {
								return dataString.substr(8, 5).replace(' ', '日').concat('时');
							};
							break;
					}

					for (var i = 0; i < data.rows.length; i++) {
						categories.push(categoryFormatter(data.rows[i].log_date));
						seriesData.push(data.rows[i].amount);
					}

					hc.update({
						// subtitle: { text: subTitle },
						xAxis: { categories: categories },
						series: [{
							data: seriesData
						}]
					});
				}
			});
		}

		$('.switch-buttons button').on('click', function (e) {
			e.preventDefault();
			var $this = $(this);
			$this.siblings().removeClass('active');
			switchChart($(this).data('type'));
		});

		switchChart('hours');
	});
</script>
}) })