@html.extend('layout', function(model) {
	@html.block('content', function(model) {
		<nav class="navbar navbar-inverse navbar-collapse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<span class="navbar-brand">@model.title</span>
				</div>
				<div class="collapse navbar-collapse" id="navbar">
					<ul class="nav navbar-nav" id="navbar">
						<li class="active"><a href="#" title="状态"><i class="fa fa-area-chart fa-lg"></i></a></li>
						<li><a href="/admin/users" title="用户"><i class="fa fa-users fa-lg"></i></a></li>
						<li><a href="/admin/settings" title="设置"><i class="fa fa-gear fa-lg"></i></a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="btn-group switch-buttons" role="group">
				<button type="button" class="btn btn-default active" data-toggle="button" data-type="hours">最近 24 小时</button>
				<button type="button" class="btn btn-default" data-toggle="button" data-type="days">最近 7 天</button>
				<button type="button" class="btn btn-default" data-toggle="button" data-type="months">最近 12 个月</button>
			</div>
			<div id="chart" data-url="/admin/chart" data-port="@model.port" data-type="hours" style="min-width: 400px; height: 500px; margin: 0 auto;"></div>
		</div>
		@html.include('footer')
	})

	@html.block('scripts', function(model) {		
		
	})
})
